html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    background:#414345;
    -ms-overflow-style: none;
    scrollbar-width: none;  
    overflow-x:hidden;
}
body::-webkit-scrollbar {
    display: none;
}
.loading{
    width:155px;height:155px;border-radius:150px;border:10px solid #fff;border-top-color: rgba(0,0,0,0.3);position:absolute;top:50%;left:50%;margin-top:-80px;margin-left:-80px;animation:loading 1.2s linear infinite;-webkit-animation:loading 1.2s linear infinite;box-sizing:border-box;
}

@keyframes loading{
  0%{transform:rotate(0deg)}
  100%{transform:rotate(360deg)}
}
@-webkit-keyframes loading{
  0%{-webkit-transform:rotate(0deg)}
  100%{-webkit-transform:rotate(360deg)}
}
.download_resume{
    position: fixed;
    bottom: 2vh;
    right:2vw;
}
a{
    color:#2fa9ef;
}
 a:hover{
    color:#23527C;
}
.section{
    height: 100vh;
    width: 100vw;
    padding:10vh auto;
    display: none;
    overflow: hidden;
}

/* Section 1 */
#section_1{
    background: #fe8c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.head{
    height: 100vh;
}
.header{
    padding:2%;
}
.site_heading{
    font-family: 'Lobster', cursive;
    color:white;
    font-size: 30px;
}
.visiting_card{
    width:50vw;
    padding:2vh 2vw;
    margin: 10vh auto;
    background-color: wheat;
    border-radius: 14px;
}
.visiting_card .image_part{
    display: inline-block;
}
.visiting_card .pro_img{
    vertical-align:middle;
    border-radius: 50%;
    height: 15vw;
    width:15vw;
    display: inline-block;
}
.visiting_card .info_part{
    padding: 2%;
    vertical-align:middle;
    display: inline-block;
    color:#41007a;
}

.s_name{
    font-family: 'Lato',sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.info_part span{
    font-family: 'Lato', sans-serif;
    display: block;
}
.name_sp{
    font-weight: 500;
    font-size: 30px;
}
.intrest{
    font-size: 20px;
    font-weight: 400;
}
.other{
    font-weight: 300;
    font-size: 18px;
    margin: 1vh 0 1vh 0;
}

/* Section 11 */
#section_2{
 background: #41295a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.company{
    margin: auto; 
    padding:2vw;
}
.company_info{
    vertical-align: bottom;
    display: flex;
    padding: 2vw 0;
    width: 100%;
    position: relative;
}
.ss1{
    width: 20%;
    display: block
}
.ss{
    border-left: #6f0000 solid 3px;
    padding: 2% 5%;
    width:80%;
    font-size: 16px;
    font-family: 'Lato',sans-serif;

}
.company_name{
    font-size: 23px;
    font-weight: bold;
    font-family: 'Lato',sans-serif;
    border-bottom: #000000 solid 2px; 
}
.company_logo{
    width: 5vw;
    height: 5vw;
    left: 14%;
    border-radius: 50%;
    position: absolute;
    vertical-align:middle;
    border: #c31432 solid 2px; 
    font-family: 'Lato',sans-serif;
}
.duration{
    display: inline-block;
    padding: 1vh;
    margin: 1vh;
    border-radius: 5px;
    color: white;    
    background-image: linear-gradient(to right, #C04848 0%, #480048 100%);
}
/* Section 3 */
#section_3{
    background: #42275a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.quote{
    font-weight: bolder;
}

.skill_chart{
    width: 70vw;
    margin: 5vh auto;
    padding: 2vh;
    font-family: 'Lato', sans-serif;
    background:rgba(242, 242, 242,0.9);
    border-radius: 14px;
}
.skill_name{
    padding:0.5vw 0vw;
    text-align: left;
    font-family: 'Lato', cursive;
    font-size: 20px;
}
.skill_container{
    width:98%;
    padding:0.5vh;
    border-radius: 4px;
    background:#cecece;
}
.skill_bar{
    padding:1vh;
    border-radius: 4px;
    background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
    color:#FFFFFF;
}
.boxes{
    display: flex;
}
.skill_bars{
    width:60%;
    flex-grow: 1;
}
.gradient-button {
    margin: 5px;
    font-family: "Arial Black",sans-serif;
    font-size: 12px;
    padding: 1vh 2vw;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
}
.gradient-button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 5px 8px;
}
.gradient-button{
    background-image: linear-gradient(to right, #7474BF 0%, #348AC7 51%, #7474BF 100%)
}
.gradient-button:hover { 
    background-position: right center; 
}
.skill_links{
    width:40%;
    flex-grow: 1;
}

/* Section 4*/
#section_4{
    background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);
}
.foot {
    display: block;
}
.foot span{
    display: inline-block;
}
.foot a{
    color:#41007a;
}
.foot a:hover{
    color:#23527C;
}

.scroll_box{
    border-radius: 40px;
    width: 20px;
    height: 40px;
    margin: 10vh auto;
    border:1px solid #ffffff;
}
.dot{
    width:10px;
    height: 10px;
    margin: auto;
    border-radius: 50%;
    height: 10px;
    animation: scroll 3s linear 0s infinite;
    background: #ffffff;
}

.aboutme{
    width: 70vw;
    margin: 5vh auto;
    padding: 2vh;
    font-family: 'Lato', sans-serif;
    background:rgba(242, 242, 242,0.7);
    border-radius: 14px;
}

.aboutme .heading{
        text-align: center;
}
.heading{
    font-family: 'Lobster', cursive;
    color:#41007a;
    border-bottom: solid #000000 1px;
    font-size: 28px;
    padding: 1vh;
}
.body_{
    padding:2vh 1vw;
    font-family: 'Lato', cursive;
    text-align: center;
    font-size: 18px;
}


.project_container{
    text-align: center;
    width: 60vw;
    margin: 1vh auto;
    padding: 1vh;
    font-family: 'Lato', sans-serif;
    background:rgba(242, 242, 242,0.5);
    border-radius: 14px;
}

.project{
    width: 30vw;
    display: inline-block;
    padding: 2vw;
}
.slides {
    padding: 0;
    width: 45vw;
    height: 60vh;
    display: block;
    margin: 5vh auto;
    position: relative;
}
.slide {
    top: 0;
    opacity: 0;
    width: 100%;
    height: 55vh;
    display: block;
    position: absolute;
    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}


.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }


.nav label {
    width: 100px;
    height: 100%;
    display: none;
    position: absolute;

    opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 80vh;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }
.nav .links{
    width: 100%;
    color: black; 
    font-weight: bolder;
    font-size: 18px;
    margin: 0% auto;
}
input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}
.nav_dots_page .nav-dot {
	top: -5px;
	width: 15px;
	height: 15px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}
.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}
.btn_more{
    padding: 2vh;
    margin: 0;
    border: none;
    border-radius: 4px;
    color:white;
    background: #2fa9ef;
    font-size: 20px;
    width: 100%;

}

.Footer{
    margin: 0;
    text-align: center;
    padding: 2vh;
    font-size: 20px;
    color: white;
    display: block;
    font-family: 'Lato', sans-serif;
    background:#b53538;
}
.Footer .heading{
    border: none;
}
.download_resume1{
    display: none;
}
.nav_dots_page{
    position: fixed;
    top:50vh;
    right:2vw;
}
@keyframes scroll{
    0%{
         transform:  translateY(0px);
         opacity: 1;
    }
    50%{
        opacity: 1;
        transform: translateY(30px);
    }
    51%{
        opacity: 0.1;
    }
    100%{
        opacity: 0;
        transform: translateY(40px;)
    }
}

@keyframes fill{
    0%{
    }
    50%{
        width: inherit;
    }
}


@media only screen and (max-width: 600px) {
    .nav_dots_page{
        position: fixed;
        top:50vh;
        right:10vw;
    }
    .section{
        height: auto;
        padding:10vh auto;
        overflow:scroll;
    }

    .head{
        text-align: center;
    }
    .visiting_card{
        width:90vw;
    }
    .image_part{
        width: 100%;
        text-align: center;
    }
    .image_part img{
        width:100vw;
        height: 100vw;
    }
    .company_logo{
    width: 10vh;
    height: 10vh;
    left: 4%;
    border-radius: 50%;
    position: absolute;
    vertical-align:middle;
    border: #c31432 solid 2px; 
    font-family: 'Lato',sans-serif;
    }
    .ss{
        padding:2vw 15vw;
    }
    
    .download_resume{
        display: none;
    }
    .download_resume1{
        font-family: 'Lato',sans-serif;
        font-size: 18px;
        display: block;
        text-align: center;
        background:rgba(242, 242, 242,0.5);
    }
    .aboutme{
        width:90vw;
    }
    .skill_chart{
        width: 90vw;
    }
    .project_container{
        width: 90vw;
    }
    .project{
        display: block;
        width: 90vw;
    }
    .slide {
        height: 40vh;
        width: 80vw;
    }
    .slides {
        height: 40vh;
        width: 80vw;
    }

}
