html{
    scroll-behavior: smooth;
}



* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   outline: none;
}

body {
   margin: 0;
   padding: 30px 0;
   font-family: 'Roboto', sans-serif;
   background: #F1F2F6;
}

h1 {
   text-align: center;
   font-weight: 300;
   color: white;
}
#section_4 .timeline-content{
    color:black ;
}
#section_4 .marker{
    border:none;
    margin: none;
    padding: none;
}
.timeline-block-right img{
    width: 5vw ;
    height: 5vw;
    border: none;
    z-index: 1;
    position: relative;
    margin-left: -2vw;
}
#section_4 .timeline-block-right img{
    background: white;
}
.timeline-block-left img{
    width: 5vw ;
    height: 5vw;
    border: none;
    z-index: 1;
    position: relative;
    margin-right: -2vw;
}
.timeline-content span{
    font-size: larger;
}
#section_4 .timeline-content span{
    color:#6b6f75;
    font-size: larger;
}
#section_4 .timeline-content p{
    color:#6b6f75;
}

h1 span {
   font-weight: 600;
}

.container {
   width: 80%;
   padding: 50px 0;
   margin: 50px auto;
   position: relative;
   overflow: hidden;
}

.container:before {
   content: '';
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -1px;
   width: 2px;
   height: 100%;
   background: #CCD1D9;
   z-index: 1;
}

.timeline-block {
   width: -webkit-calc(50% + 8px);
   width: -moz-calc(50% + 8px);
   width: calc(50% + 8px);
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   justify-content: space-between;
   clear: both;
}

.timeline-block-right {
   float: right;
}

.timeline-block-left {
   float: left;
   direction: rtl
}

.marker {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #F5F7FA;
   background: #4FC1E9;
   margin-top: 10px;
   z-index: 9999
}

.timeline-content {
   width: 95%;
   padding: 0 15px;
   color: white;
}

.timeline-content h3 {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 25px;
   font-weight: 500
}

.timeline-content span {
   font-size: 15px;
   color: white;
}

.timeline-content p {
   font-size: 14px;
   line-height: 1.5em;
   word-spacing: 1px;
   color: white;
}


@media screen and (max-width: 768px) {
   .container:before {
      left: 8px;
      width: 2px;
   }
   .timeline-block {
      width: 100%;
      margin-bottom: 30px;
   }
   .timeline-block-right {
      float: none;
   }

   .timeline-block-left {
      float: none;
      direction: ltr;
   }
}







body{
    -ms-overflow-style: none;
    scrollbar-width: none;
        overflow: hidden;
    background: white;
    padding: 0;
    margin: 0;
    overflow: hidden;

}
body::-webkit-scrollbar {
    display: none;
}
.section{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
/*SECTION 1*/
#section_1{
    background-color: #6f00ff;
}
.top_nav{
    background: white;
    position:fixed;
    width: 100vw;
}
.webiste_name{
    font-family: 'lobster';
    font-size: 33px;
    display: inline-block;
    margin: 1vh 2vw;
    color:#6f00ff;
}
.webiste_name a{
    text-decoration: none;
    color:#6f00ff;
}
.navs{
    display: inline-block;
    text-align: right;
    float: right;
    margin: 4vh 2vw;
}
.navs li{
    list-style: none;
    display: inline-block;
    font-family: 'lato',sans-serif;
    font-size: 20px;
    margin: 0px 5px;
    color: #6b6f75;
    cursor:pointer;
}
.navs a{
    text-decoration: none;
    color: #6b6f75;
}
.work{
    margin: 20vh;
    line-height: 8vh;
    text-align: center;
}
.work img{
    width: 20vw;
    height: 25vw;
}
.title{
    font-family: 'lato';
    font-size: 33px;
    color:#28262b;
    font-weight:900;
}
.subtitle{
    font-family: 'lato';
    font-size: 20px;
    color: #6b6f75;
}

/*#section_2*/
#section_2{
  font-family: 'Lato',sans-serif;
}
.about_me{
    font-family: 'Lato', sans-serif;
    color:#e6e6e6;
    width:50vw;
    text-align: center;
    margin:auto;
    padding:20vh 0;
    font-size: 25px;
    line-height: 40px;
}
.head{
    font-size: 35px;
    font-weight: bolder;
    letter-spacing: 2px;
}
.heading{
    font-size: 25px;
}
/*SECTION 2*/
#section_2{
    padding: 15vh 0;
    height: 90vh;
}
.heading{
    text-align: center;
    color:#28262b;
    font-family: 'Lato',sans-serif;
    font-size: 36px;
    font-weight:900;
}
.skill_box{
    width: 70vw;
    padding: 5vh;
    margin: 7vh auto;
    font-family: 'Lato', sans-serif;
    background:white;
    border-color:#E7EDF7;
    border-style: solid ;
    border-width: 1px;
    border-radius: 14px;
}
.quote{
    font-weight: bolder;
}
.s_name{
    font-size: 18px;
}
.skill_chart{
    width: 70vw;
    margin: 5vh auto;
    padding: 2vh;
    font-family: 'Lato', sans-serif;
    background:rgba(242, 242, 242,0.9);
    border-radius: 14px;
}
.skill_name{
    padding:0.5vw 0vw;
    text-align: left;
    font-family: 'Lato', cursive;
    font-size: 20px;
}
.skill_container{
    width:98%;
    padding:0.5vh;
    border-radius: 4px;
    background:#cecece;
}
.skill_bar{
    padding:1vh;
    border-radius: 4px;
    background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
    color:#FFFFFF;
}
.boxes{
    display: flex;
}
.skill_bars{
    width:60%;
    flex-grow: 1;
}
.gradient-button {
    margin: 5px;
    font-family: "Arial Black",sans-serif;
    font-size: 12px;
    padding: 1vh 2vw;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
}
.gradient-button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 5px 8px;
}
.gradient-button{
    background-image: linear-gradient(to right, #7474BF 0%, #348AC7 51%, #7474BF 100%)
}
.gradient-button:hover {
    background-position: right center;
}
.skill_links{
    width:40%;
    flex-grow: 1;
}

/*section 3*/
#section_3{
    background-color: #6f00ff;
    text-align: center;
    margin: auto;
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; 
}
#section_3 .company{
  display: inline-block;
  margin: 0vh 2vw;
}
#section_3 .image_company img{
  width: 20vw;
  height: 25vh;
}
#section_3 .title{
    color: white;
    text-align: center;
    padding: 20vh 0 0 0 ;
}
#section_3 .subtitle{
    color: #d6d6d6;
    text-align: center;
    padding: 2vh 0 5vh 0 ;
}
#section_3 .company{
    width: 25vw;
    margin: auto;
    background: white;
    border-radius: 10px;
}
#section_4 .company{
    width: 30vw;
    margin: auto;
    background: white;
    border-radius: 10px;
}

.image_company img{
    width: 30vw;
    height: 30vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.company_about{
    padding: 5vh;
    font-family: 'Lato',sans-serif;
    color: #6C7184;
    line-height: 23px;
}
.role{
    font-family: 'Lato',sans-serif;
    font-size: 23px;
    padding: 1vh 1vh;
}

/*section 4*/
#section_4{
    text-align: center;
}
#section_4 .title{
    margin: 12vh 0 1vh 0 ;

}
#section_4 .company{
    margin:10vh 1vw;
    background: #6f00ff;
    display: inline-block;
}
#section_4 .company_about{
    color: white;
}
/*section5*/
#section_5{
    text-align: center;
    background: #6f00ff;
    font-weight: bolder;
    letter-spacing: 2px;
    font-family: 'Lato',sans-serif;
    color: white;
}
#section_5 .head{
    margin: 20vh 0 2vh 0;
    font-size: 35px;
}
.footer i{
    padding:1vw;
    margin: 15vh 2vw;
    font-size: 2vw;
    border:solid 1px white;
    border-radius: 50%;
    cursor: pointer;
}
.footer a{
    color: white;
}
.foot{
    color: #C69DFC;
}
.foot i{
    margin: 2vh;
    font-size: 2vw;
    color: #C69DFC;
}
@media only screen and (max-width: 600px) {
    .section{
        overflow:scroll;
        height:auto;
        width:100vw;
    }
    .navs{
        display: none;
    }
    #section_3{
        padding:2vw 0;
    }
    #section_3 .Company{
      margin:2vh 0;
    }
    #section_2 .skill_box{
    margin:10vh auto;
    }
    #section_2 .skill_bars{
        display: none;
    }
    #section_2 .skill_links{
        width: 80vw;
    }
    .company{
        width: 90vw;
    }
    .image_company img{
        width: 90vw;
        height: 30vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .work{
        width:80vw;
        margin: auto;
    }
    .work .title{
        font-size: 36px;
        line-height: 40px;
        margin: 22vh 0 5vh 0 ;
        padding: 0;
    }
    .work .subtitle{
        font-size: 28px;
        line-height: 40px;
    }
    .work img{
        width: 50vw;
        height: 60vw;
    }
    .footer i{
    padding:2vh;
    margin: 15vh 2vw;
    font-size: 2vh;
    border:solid 1px white;
    border-radius: 50%;
    cursor: pointer;
    }
    .footer a{
        color: white;
    }
    .foot{
        color: #C69DFC;
    }
    .foot i{
        margin: 2vh;
        font-size: 2vh;
        color: #C69DFC;
    }
}
